$color-soft-blue:#8bacda;
$color-cyan: #00fff7;
$color-main-bg: #0d192b;
$color-card-bg:#14253d;
$color-line:#2f415b;
$color-white: #ffffff;

$font-outfit: 'Outfit', sans-serif;

$mobile: 375px;
$tablet: 600px;

$border-radius: 12px;

$padding-lg: 1.5rem;
$padding-sm: 1rem;
$padding-xs: .5rem;

$margin-lg: 1.5rem;
$margin-sm: 1rem;
$margin-xs: .5rem;